.item-list {
	width: 400px;
	min-height: 200px;
	max-height: 600px;

	display: flex;
	flex-direction: column;

	&__title {
		margin: 0;
		padding-block: 10px;

		font-size: 1.2rem;
		text-align: center;
		text-transform: uppercase;

		border-bottom: 1px solid rgba(0, 0, 0, 0.125);

		cursor: pointer;

		&:hover {
			color: red;
		}
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 3;

		padding: 20px;
	}

	.tags {
		display: flex;
		justify-content: flex-end;
		gap: 5px;

		height: 2rem;

		padding: 10px;

		box-sizing: content-box;

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;

			padding-inline: 8px;
			border-radius: 8px;

			font-size: 0.8rem;

			background: goldenrod;

			color: #fff;
		}
	}
}

.content {
	margin: 0;
}
