.item-list {
    width: 100%;
    min-height: 200px;


    display: flex;
    flex-direction: column;

    margin: 0;

    &__title {
        margin: 0;
        padding: 10px;

        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        word-break: break-all;

        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 3;

        padding: 20px;
    }

    .tags {
        display: flex;
        justify-content: flex-end;
        gap: 5px;

        height: 2rem;

        padding: 10px;

        box-sizing: content-box;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;

            padding-inline: 8px;
            border-radius: 8px;

            font-size: 0.8rem;

            background: goldenrod;

            color: #fff;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .action {
            padding: 5px 10px;
            margin: 0;
        }
    }
}

.content {
    margin: 0;
}